<mat-card class="product" *ngIf="productDetais">
    <div class="product-img">
      <img [src]="productDetais.imgUrl" alt="product">
    </div>
    <div>
      <p>{{productDetais.name | uppercase}}</p>
      <p>price: {{productDetais.price | currency}}</p>
      <p>Available: {{productDetais.isAvailable?'Yes':'No'}}</p>
      <button 
        (click)="onBuy()" 
        mat-raised-button
        aria-label="Button that displays a tooltip when focused or hovered over">
        Buy
      </button>
    </div>

  </mat-card>