:host{
    display: flex;
    flex-direction: column;
    align-items: stretch;
    width: 100%;
}

.title{
    text-align: center;
}
header{
    width: 100%;
    text-align: right;
}
.btn-to-shop-cart,.btn-to-admin, .btn-login{
    background: #d6d6d6;
    margin: 5px;
}