<div>
  <button 
    class="btn-all-products"
    mat-button
    routerLink = "./add">
    Add product</button>
  <p>All products:</p>
  <router-outlet></router-outlet>
  <div *ngIf="allProducts">
    <ul>
      <li class="table-title">
        <p>Id</p>
        <p>Name</p>
        <p>Description</p>
        <p>Category</p>
        <p>Availability</p>
        <p>Price</p>
        <p>Image</p>
        <p>Edit</p>
        <p>Delete</p>
      </li>
      <li *ngFor="let product of allProducts">
        <app-product-item        
          [product]="product"
          (editProduct)="onEditProduct($event)"
          (deleteProduct)="onDeleteProduct($event)">
        </app-product-item>
      </li>
    </ul>
  </div>
</div>