ul{
    list-style: none;
    padding: 0;
}

.table-title{
    display: flex;
}

.table-title p{
    padding: 5px 10px;
    text-align: center;
    width: 12%;
}

.btn-all-products{
    background: #fcd0ed;
    margin: 5px;
}